doctype html
html
    head
        link(rel="stylesheet", href="/css/style.css")
    body
        div(id="navbar")
            a(href="/") Home
            a(href="/login") Login
        block body
    block scripts
