<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Cum game</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>Cum game</h1>
        <div id="game">
            <div id="upgrades">
                <% for(var i=0; i<click.length; i++) {%>
                <button class="click" onclick="cum()"</button>
                        <p>click <%= click[i]["id"] %> </p>
                        <p><%= click[i]["price"] %>,-</p>
                    </button>
                <% } %>
            </div>
            <p id="points"><%= points %></p>
        </div>
    </body>
    <script src="js/ev.js"></script>
</html>
