extends base.pug

block body
    h1 login
    form(action="", method="post", class="form")
        input(type="text", name="username", placeholder="Username")
        br
        input(type="password", name="password", placeholder="Password")
        br
        input(type="submit", value="send")
